boto3==1.34.98
elasticsearch==7.13.4
langchain_community==0.0.36
langchain_text_splitters==0.0.1
nltk==3.8.1
ollama==0.1.9
pandas==2.2.2
PyYAML==6.0.1
requests_aws4auth==1.2.3
streamlit==1.34.0
tqdm==4.66.4
